.header {
    position: fixed;
    width: 100%;
    height: 128px;
    //background-color: blue;
    z-index: 4; //when scroll over the elements to stay above


    @include media('<=phone') {
        height: 96px;
    }

    .logo {
        a {
            font-size: 1.2rem;
            letter-spacing: 0.5rem;
            text-decoration: none;
            font-weight: 700;
            color: $black;
        }
    }

    .nav {
        width: 25px;

        @include media('<=phone') {
            width: 20px;
        }

        span {
            margin-bottom: 0.3rem;
            background-color: black;
            width: 100%;
            height: 2px;
            display: block;
        }
    }



}